/* You can add global styles to this file, and also import other style files */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --main-color: #3d5af1;
  --main-color-dark: #3651d4;
  --main-color-light: #5872f5;
  /*   --text-color: #cfcde7; */
  --text-color: #ffffff;
}
